html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
}

#canvas {
	background: #ffffff;
}

#controlPanel {
	position: absolute;
	left: 20px;
	top: 20px;
	max-width: 20vw;
}

.setting {
	color: black;
}

.setting[type=text] {
	max-width: 100px;
}

.setting[type=number] {
	width: 10ch;
}

#controlPanel .h4 {
	font-weight: normal;
	text-align: center;
	margin: 0px;
}